---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jason Melton | About" bgImage="https://images.unsplash.com/photo-1503551723145-6c040742065b?q=80&w=2000&auto=format&fit=crop">
	<h1>About Jason</h1>
	<p>Welcome to my personal archive. A collection of writing, comedy, music, and visuals.</p>
	<ul>
		<li><a href="https://twitter.com/">Twitter</a></li>
		<li><a href="https://github.com/">GitHub</a></li>
	</ul>
</Layout>
